*{
    margin:0px;
    padding:0px;
}
.fullwidth{
    width: 100%;
}
.grid5{
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.grid6{
    display:grid;
    grid-template-columns: repeat(6,1fr);
}