@media only screen and (max-width: 600px) {
    #products-data{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #image-products{
        margin: auto;
        
    }
  }