/* *{border: 2px solid red;} */
#products-data{
    border: 1px solid red;
    display: flex;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
}
#image-products{
    border: 1px solid rgb(172, 150, 150);
    padding: 10px;
    width: fit-content;
}
#image{
    border: 2px solid red;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 5px;
}
#products-data-info{
    border: 2px solid red;
    padding: 10px;
}
#productsinfo{
    border: 1px solid red;
    
}
.products_img{
    border: 2px solid;
    width: 200px;
    height: 250px;
}
#button{
    text-align: center;
    border:2px solid red;
    display: flex;
    justify-content: space-around;
}
#addtocart{
    background-color: #ff527b;
    padding: 10px;
    width: 100px;
}
#wishlist{
    border: 1px solid;
    padding: 10px;
    width: 100px;
}
#addtocart:hover{
    background-color: #ff527b;
    padding: 10px;
    width: 100px;
}
#wishlist:hover{
    background-color: #ff527b;
    padding: 10px;
    width: 100px;
}